footer.footer
	.case
		.footer__wrap.row.i-mid
			.footer__logo #[img(src="upload/logo.png", alt="")]
			.footer__copy © 2020 Компания «Интернешнл фуд» производитель спортивного питания




.popup.--xs#popup-production
	.popup__wrap
		.popup__inner
			.steps
				.steps__main-title Для получения информации о перечне выпускаемой продукции необходимо заполнить форму
				.steps__status.status
					.status__title Вопрос #[u 1] из #[i ]
					.status__wrap #[div]
				.steps__list
					.steps__item
						.steps__title Ваши контактные данные:
						.steps__form
							.steps__input.input.--required
								input.input__area(type="text" name="fio" placeholder="ФИО")
							.steps__input.input.--required
								input.input__area(type="text" name="email" placeholder="E-mail")
							.steps__input.input.--required.--phone
								input.input__area(type="text" name="phone" placeholder="Номер телефона")
							button.steps__btn.btn.--blue.--next Следующий вопрос
					.steps__item
						.steps__title Название организации:
						.steps__form
							.steps__input.input.--required
								input.input__area(type="text" name="ogrn" placeholder="ОГРН")
							.steps__input.input.--required
								input.input__area(type="text" name="kpp" placeholder="КПП")
							.steps__input.input.--required
								input.input__area(type="text" name="inn" placeholder="ИНН")
							.steps__input.input.--required
								input.input__area(type="text" name="ur" placeholder="Юридический адрес")
							button.steps__btn.btn.--blue.--next Следующий вопрос
					.steps__item
						.steps__title Классификация интересующей Вас #[br]пищевой продукции:
						.steps__form
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="class" value="Функциональное-диетическое питание" checked="checked")
								label.checkbox__label Функциональное-диетическое питание
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="class" value="Биологически активные добавки")
								label.checkbox__label Биологически активные добавки
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="class" value="Биологически активные добавки")
								label.checkbox__label Биологически активные добавки
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="class" value="Пищевые композитные порошковые концентраты")
								label.checkbox__label Пищевые композитные порошковые концентраты
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="class" value="Лечебно-профилактическое питание")
								label.checkbox__label Лечебно-профилактическое питание
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="class" value="Детское питание")
								label.checkbox__label Детское питание
							button.steps__btn.btn.--blue.--next Следующий вопрос
					.steps__item
						.steps__title Форма продукции: 
						.steps__form
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="form-production" value="Капсулы желатиновые" checked="checked")
								label.checkbox__label Капсулы желатиновые
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="form-production" value="Капсулы «софт гель»")
								label.checkbox__label Капсулы «софт гель»
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="form-production" value="Порошковая")
								label.checkbox__label Порошковая
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="form-production" value="Гранулированная")
								label.checkbox__label Гранулированная
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="form-production" value="Таблетированная")
								label.checkbox__label Таблетированная
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="form-production" value="Ссуспензия")
								label.checkbox__label Ссуспензия
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="form-production" value="Гелевая форма")
								label.checkbox__label Гелевая форма
							button.steps__btn.btn.--blue.--next Следующий вопрос
					.steps__item
						.steps__title Объём фасовка и вид упаковки:
						.steps__form
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="type" value="Для порошковой формы (от 5 000 единиц продукции одного вида)" checked="checked")
								label.checkbox__label Для порошковой формы #[br](от 5 000 единиц продукции одного вида)
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="type" value="Калькулированная форма (от 10 000 единиц продукции одного вида)")
								label.checkbox__label Калькулированная форма #[br](от 10 000 единиц продукции одного вида)
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="type" value="Таблетированная форма (от 15 000 единиц продукции одного вида)")
								label.checkbox__label Таблетированная форма #[br](от 15 000 единиц продукции одного вида)
							.steps__input.input.--required
								input.input__area(type="text" name="" placeholder="Укажите колличество единиц продукции")
							button.steps__btn.btn.--blue.--submit Отправить
	.popup__bg.popup-close



.popup.--xs#popup-partnership
	.popup__wrap
		.popup__inner
			.steps
				.steps__main-title Для получения информации о перечне выпускаемой продукции необходимо заполнить форму
				.steps__status.status
					.status__title Вопрос #[u 1] из #[i ]
					.status__wrap #[div]
				.steps__list
					.steps__item
						.steps__title Ваши контактные данные:
						.steps__form
							.steps__input.input.--required
								input.input__area(type="text" name="fio" placeholder="ФИО")
							.steps__input.input.--required
								input.input__area(type="text" name="email" placeholder="E-mail")
							.steps__input.input.--required.--phone
								input.input__area(type="text" name="phone" placeholder="Номер телефона")
							button.steps__btn.btn.--blue.--next Следующий вопрос
					.steps__item
						.steps__title Название организации:
						.steps__form
							.steps__input.input.--required
								input.input__area(type="text" name="ogrn" placeholder="ОГРН")
							.steps__input.input.--required
								input.input__area(type="text" name="kpp" placeholder="КПП")
							.steps__input.input.--required
								input.input__area(type="text" name="inn" placeholder="ИНН")
							.steps__input.input.--required
								input.input__area(type="text" name="ur" placeholder="Юридический адрес")
							button.steps__btn.btn.--blue.--next Следующий вопрос
					.steps__item
						.steps__title Вид услуг:
						.steps__form
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="service" value="Регистрация и сертификация пищевой продукции" checked="checked")
								label.checkbox__label Регистрация и сертификация пищевой #[br]продукции
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="service" value="Сопровождение сделок на внешнем рынке с нерезидентами")
								label.checkbox__label Сопровождение сделок на внешнем #[br]рынке с нерезидентами
							.steps__checkbox.checkbox.radio
								input.checkbox__input(type="radio" name="service" value="Организация и сопровождение в проведении клинических испытаний функциональной и лечебно-профилактической пищевой продукции")
								label.checkbox__label Организация и сопровождение в проведении клинических испытаний функциональной и лечебно-профилактической пищевой продукции
							button.steps__btn.btn.--blue.--submit Отправить
	.popup__bg.popup-close


.popup.--xxs#popup-thanks
	.popup__wrap
		.popup__inner
			.popup__title Спасибо!
			.popup__text Ваша заявка успешно отправлена.

	.popup__bg.popup-close
