header.header
	.case
		.header__wrap.row.i-mid
			.header__logo #[a(href="") #[img(src="upload/logo.png", alt="")]]
			.header__inner.row.i-mid.nav
				.header__nav
					ul
						li.selected
							a(href="") О нас                 
						li
							a(href="") Как мы работаем
						li
							a(href="") Новости
				.header__email #[a(href="mailto:Intfood@gmail.com") Intfood@gmail.com]
			.header__hum.hum
				span
				span
				span
